body{
    margin: 0px;
    padding: 0px;
    font-family: 'EB Garamond';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header{
    width:100%;
    background:white;
    padding:1em 0em 1em 0em;
    border-bottom:1px solid #ccc;
    color:#000;
    text-align:right;
}
main{
    width: 95%;
}
header span{
    padding: 10px;
    cursor:pointer
}
header span:active{
    background:gold;
}
main h1{
    text-align: center;
}
hr{
    margin: 10px auto;
}
table{
    margin: 0 auto;
    width: 50%;
}
td{
    width: 33%;
    text-align: center;
    margin: 0 auto;
}
table div {
    width: 100%;
    margin-bottom: 2%;
    background: #eee;
    aspect-ratio: 1/1;
    display: grid;
    align-items: center;
}
table div.middle {
    background: gold;
}
#candidate span{
    display: inline-block;
}
span.magic{
    color: gold;
}
table div:active {
    transform: scale(0.7);
}
table div h1{
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
    text-transform: uppercase;
}
#delete,#shuffle,#enter{
    cursor: pointer;
}
#foundwords{
    padding:4px;
    border:1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
    font-size: 1em;
    height: 1.2em;
}

#foundwords.expanded{
    height:12rem;
}