body{
    margin: 0px;
    padding: 0px;
    font-family: 'EB Garamond';
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
header{
    width:100%;
    background:white;
    padding:1em 0em 1em 0em;
    border-bottom:1px solid #ccc;
    color:#000;
    text-align:right;
}
main{
    width: 80%;
}
header span{
    padding: 10px;
    cursor:pointer
}
header span:hover{
    background:yellow;
}
main h1{
    text-align: center;
}
hr{
    border-bottom: 1px solid #ccc;
    margin: 0 auto;
}
table{
    margin: 0 auto;
    width: 50%;
}
td{
    width: 33%;
    text-align: center;
    margin: 0 auto;
}
div {
    width: 100%;
    margin-bottom: 2%;
    background: #eee;
    aspect-ratio: 1/1;
    display: grid;
    align-items: center;
}
div.middle {
    background: gold;
}
div:active {
    transform: scale(0.7);
}
div h1{
    margin: 0 auto;
    text-align: center;
    vertical-align: middle;
    font-size: 1.5rem;
}
#delete,#shuffle,#enter{
    cursor: pointer;
}